<nz-layout>
    <nz-sider>

        <ul nz-menu nzMode="inline">
            <li class="main-side-menu-item" nz-menu-item>
                <span nz-icon nzType="home"></span>
                <span>Home</span>
            </li>
          </ul>

    </nz-sider>
    <nz-layout>
        <nz-header>
            <button 
                nz-button 
                nzType="primary"
                (click)="initiateAuth()"
                [nzLoading]="qboButtonLoad">Connet to Quickbooks</button>
        </nz-header>
        <nz-content>
            <router-outlet></router-outlet>
        </nz-content>
        <nz-footer>Footer</nz-footer>
    </nz-layout>
</nz-layout>